#playlist-name{
    width: 25vw;
    outline: none;
    border: none;
    position: absolute;
    top: 20vh;
    left: 37.5vw;
}

#playlist-name .form-control{
    background-color:#e900dd;
    font-family: "Bungee", sans-serif;
}

#search-results{
    margin-top: 15vh;
    width: 55vw;
    height: 65vh;
}

#results{
    margin-left: 0vw;
    width: 55vw;
}

#songList{
    position: absolute;
    left: 60%;
    top: 40%;
    width: 30vw;
}



#submit .form-control{
    width: 15vw;
    margin-left: 7.5vw;
    text-align: center;
    background-color: #e900dd;
    border: #e900dd;
}