#buttons{
    width: 8vw;
    text-align: center;
    padding-top: 20vh;
    height: 88.8vh;
}

#playlists{
    width: 70vw;
    position: absolute;
    top:20vh;
    right: 10vw;
    height: 75vh;
}

#results_playlists{
    position: absolute;
    left: 0vw;
    width: 60vw;
}