#playlist-col{
    cursor: pointer;
}

#modify-playlist{
    width: 40vw;
    position: absolute;
    left: 40vw;
    top: 20vh;
}

#search-tracks{
    width: 15vw;
    outline: none;
    border: none;
    position: absolute;
    left: -5vw;
}

#search-tracks .form-control{
    background-color: #e900dd;
    font-family: "Bungee", sans-serif;
}

#modify-div{
    width: 100px;
}